<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="mazyl" sortOrder="999" translate="label">
			<label>Mazyl</label>
		</tab>
		<section id="autosetnewproductdate" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Auto Set New Product Date</label>
			<tab>mazyl</tab>
			<resource>Mazyl_AutoSetNewProductDate::config_mazyl_autosetnewproductdate</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
                <field id="enabled" translate="label" type="select" showInDefault="1" canRestore="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="days" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Add New Days</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
